
body{
    background-color: rgb(136, 168, 161);
}


section{
    display: flex;
    justify-content: space-around;
    margin-left: 11%;
}

#info{
    align-items: center;
    width: 50%;
    padding: 10%;
    font-size: 200%;
}

#about{
    text-align: center;
    padding: 4%;
}
.milestone{
border: solid black 1px;
width: 30%;
height: 25vh;
border-radius: 10px 10px;
background-color: beige;
padding: 3px;
}

h3{
    font-size: 150%;
    text-align:center ;

}
#Milecont{
    display: flex;
    justify-content: space-around;

}

#part3{
    width: 80%;
}